<document>
  <stackTemplate>
    <banner>
      <title>{{ attributes.title }}</title>
      <row>
        <buttonLockup id="fav-btn">{{{ ratedButton }}}</buttonLockup>
      </row>
    </banner>
    <collectionList>
      {{#each sections }}
      <grid>
        <header>
          <title>{{ title }}</title>
        </header>
        <section>
          {{#each items }}
          <lockup data-href-page="{{ entity.type }}" data-href-page-options="{{toJSON entity }}">
            {{#if image}}
            <img src="{{ image }}" class="tile_wide"/>
            {{else}}
            <img src="" class="tile_wide"/>
            {{/if}}
            <title>{{ title }}</title>
          </lockup>
          {{/each}}
        </section>
      </grid>
      {{/each}}
    </collectionList>
  </stackTemplate>
</document>
