<document>
  <listTemplate>
    <banner>
      <title>Téma: {{ attributes.title }}</title>
    </banner>
    <list>
      {{#if carousel}}
      <section>
        {{#each carousel }}
        <listItemLockup data-href-page="{{ entity.type }}" data-href-page-options="{{toJSON entity }}">
          <title>{{ title }}</title>
          <relatedContent>
            <lockup>
              <img src="{{ fullImageURL image }}"/>
              <description>{{removeHTML description }}</description>
              <decorationLabel>*</decorationLabel>
            </lockup>
          </relatedContent>
        </listItemLockup>
        {{/each}}
      </section>
      {{/if}}
      {{#if shows}}
      <section>
        {{#each shows }}
        <listItemLockup data-href-page="show" data-href-page-options="{{toJSON this }}">
          <title>{{ attributes.title }}</title>
          <decorationLabel>Pořad</decorationLabel>
          <relatedContent>
            <lockup>
              <img src="{{ attributes.asset.url }}"/>
              <description>{{removeHTML attributes.description }}</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        {{/each}}
      </section>
      {{/if}}
      {{#if episodes}}
      <section style="padding-top: 40">
        {{#each episodes }}
        <listItemLockup data-href-page="episode" data-href-page-options="{{toJSON this }}">
          <title>{{ attributes.title }}{{#if attributes.part}} ({{attributes.part}}. díl){{/if}}</title>
          <decorationLabel>{{timeLength attributes.since attributes.till }}</decorationLabel>
          <relatedContent>
            <lockup>
              {{#if attributes.asset.url}}
                <img src="{{ attributes.asset.url }}" />
              {{else}}
                <img src="{{ @root.attributes.asset.url }}" />
              {{/if}}
              <description>{{removeHTML attributes.description }}</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        {{/each}}
      </section>
      {{/if}}
    </list>
  </listTemplate>
</document>
