<document>
  <compilationTemplate>
    <list>
      <relatedContent>
        <itemBanner>
          <heroImg src="{{ topic.attributes.asset.url }}" />
          <description id="show-description" style="tv-text-max-lines: 2"></description>
          <row>
            <buttonLockup id="fav-btn">{{{ ratedButton }}}</buttonLockup>
          </row>
        </itemBanner>
      </relatedContent>
      <header>
        <title>{{ topic.attributes.title }}</title>
      </header>
      {{#if carousel}}
      <section>
        {{#each carousel }}
        <listItemLockup data-href-page="{{ entity.type }}" data-href-page-options="{{toJSON entity }}">
          <img src="{{ image }}" width="90" height="90" contentsMode="aspectFill"/>
          <title>{{ title }}</title>
          <subtitle>Pořad</subtitle>
          <placeholder>{{removeHTML description }}</placeholder>
        </listItemLockup>
        {{/each}}
      </section>
      {{/if}}
      {{#if episodes}}
      <section>
        <header>
          <title></title>
        </header>
        {{#each episodes }}
        <listItemLockup id="{{ id }}" data-href-page="episode" data-href-page-options="{{toJSON this }}">
          <ordinal minLength="1">{{{watchedState watched }}}</ordinal>
          <title>{{ attributes.title }}</title>
          <subtitle>{{longDate attributes.since }}  {{timeLength attributes.since attributes.till }} {{#if attributes.part}} ({{attributes.part}}. díl){{/if}}</subtitle>
          <placeholder>{{removeHTML attributes.description }}</placeholder>
        </listItemLockup>
        {{/each}}
      </section>
      {{/if}}
    </list>
  </compilationTemplate>
</document>
