<document>
  <productTemplate>
    <banner style="height:685">
      <stack>
        <title>{{ info.attributes.title }}</title>
        <subtitle id='ep-title' style="color: rgb(255, 255, 255); font-size: 40%; font-weight: bold; padding-bottom: 10"></subtitle>
        <row>
          <text id='ep-part'></text>
          <text id='ep-date'></text>
          <text id='ep-run-time'></text>
        </row>
        <description id='ep-description' allowsZooming="true" moreLabel="more">{{removeHTML info.attributes.description }}</description>
        <row>
          <buttonLockup id='play-btn'>
            <badge src="resource://button-play"/>
            <title>Přehrát</title>
          </buttonLockup>
          <buttonLockup id="fav-btn">{{{ ratedButton }}}</buttonLockup>
        </row>
      </stack>
      <heroImg src="{{ info.attributes.asset.url }}" style="width: 700;"/>
    </banner>
    {{#if episodes }}
    <shelf autoHighlight="true" style="padding: 10 0 -85 50">
      <header>
        <title>Epizody pořadu</title>
      </header>
      <section>
        {{#each episodes }}
        <lockup id="{{ id }}">
          <img src="{{ asset_url img/episode.png }}" width="300" height="200" />
          <title>{{ attributes.part }}. {{ attributes.shortTitle }}</title>
        </lockup>
        {{/each}}
      </section>
    </shelf>
    {{/if}}
  </productTemplate>
</document>
