<document>
  <compilationTemplate>
    <list>
      <relatedContent>
        <itemBanner>
          <heroImg src="{{ serial.attributes.asset.url }}" />
          <description id="serial-description" style="tv-text-max-lines: 3">{{removeHTML serial.attributes.description }}</description>
          <row>
            <buttonLockup>
              <badge src="resource://button-add"/>
              <title>Přidat</title>
            </buttonLockup>
            <buttonLockup id="fav-btn">{{{ ratedButton }}}</buttonLockup>
          </row>
        </itemBanner>
      </relatedContent>
      <header>
        <title>{{ serial.attributes.title }}</title>
        <row>
          <text>{{ serial.attributes.totalParts }} epizod</text>
        </row>
      </header>
      <section>
        {{#each episodes}}
        <listItemLockup data-href-page="play-episode" data-href-page-options="{{toJSON this }}">
          {{#if attributes.part}}
          <ordinal minLength="2">{{attributes.part}}</ordinal>
          {{/if}}
          <title>{{ attributes.title }}</title>
          <subtitle>{{longDate attributes.since }}  {{timeLength attributes.since attributes.till }}</subtitle>
          <placeholder>{{removeHTML attributes.description }}</placeholder>
        </listItemLockup>
        {{/each}}
        {{#if links.next}}
        <listItemLockup data-href-page="show" data-href-page-options="{{toJSON @root.links }}">
          <title>Další...</title>
        </listItemLockup>
        {{/if}}
      </section>
    </list>
  </compilationTemplate>
</document>
