<collectionList>
  {{#if shows}}
  <shelf>
    <header>
      <title>Pořady</title>
    </header>
    <section>
      {{#each shows }}
      <lockup data-href-page="show" data-href-page-options="{{toJSON this }}">
        <img src="{{ fullImageURL attributes.asset.url }}" width="350" height="350" />
        <title>{{ attributes.title }}</title>
      </lockup>
      {{/each}}
    </section>
  </shelf>
  {{/if}}
  {{#if episodes}}
  <shelf>
    <header>
      <title>Epizody</title>
    </header>
    <section>
      {{#each episodes }}
      <lockup data-href-page="episode" data-href-page-options="{{toJSON this }}">
        <img src="{{ fullImageURL attributes.asset.url }}" width="350" height="350" />
        <title>{{#if attributes.part}}{{attributes.part}}. {{/if}}{{ attributes.shortTitle }}</title>
      </lockup>
      {{/each}}
    </section>
  </shelf>
  {{/if}}
  {{#if serials}}
  <shelf>
    <header>
      <title>Seriály</title>
    </header>
    <section>
      {{#each serials }}
      <lockup data-href-page="serial" data-href-page-options="{{toJSON this }}">
        <img src="{{ fullImageURL attributes.asset.url }}" width="350" height="350" />
        <title>{{ attributes.title }}{{#if attributes.totalParts}} ({{attributes.totalParts}}){{/if}}</title>
      </lockup>
      {{/each}}
    </section>
  </shelf>
  {{/if}}
</collectionList>
