<document>
  <compilationTemplate>
    <list>
      <relatedContent>
        <itemBanner>
          <heroImg src="{{ show.attributes.asset.url }}" />
          <row>
            <buttonLockup>
              <badge src="resource://button-add"/>
              <title>Přidat</title>
            </buttonLockup>
          </row>
        </itemBanner>
      </relatedContent>
      <header>
        <title>{{ show.attributes.title }}</title>
        <row>
          <text>{{ show.relationships.episodes.meta.count }} epizod</text>
          {{#if show.attributes.active}}
          <text>Aktivní</text>
          {{/if}}
          {{#if show.attributes.podcast}}
          <text>Podcast</text>
          {{/if}}
        </row>
      </header>
      <section>
        {{#each episodes}}
        <listItemLockup data-href-page="play-episode" data-href-page-options="{{toJSON this }}">
          {{#if attributes.part}}
          <ordinal minLength="2">{{attributes.part}}</ordinal>
          {{/if}}
          <title>{{ attributes.title }}</title>
          <decorationLabel>{{ attributes.length }}</decorationLabel>
        </listItemLockup>
        {{/each}}
        {{#if links.next}}
        <listItemLockup data-href-page="show" data-href-page-options="{{toJSON @root.links }}">
          <title>Další...</title>
        </listItemLockup>
        {{/if}}
      </section>
    </list>
  </compilationTemplate>
</document>
