<document>
  <compilationTemplate>
    <list>
      <relatedContent>
        <itemBanner>
          <heroImg src="{{ show.attributes.asset.url }}" />
          <description id="show-description" style="tv-text-max-lines: 3">{{removeHTML show.attributes.description }}</description>
          <row>
            <buttonLockup id="add-btn">
              <badge src="resource://button-add"/>
              <title>Do fronty</title>
            </buttonLockup>
            <buttonLockup id="fav-btn">{{{ ratedButton }}}</buttonLockup>
          </row>
        </itemBanner>
      </relatedContent>
      <header>
        <title>{{ show.attributes.title }}</title>
        <row>
          <text>{{ show.relationships.episodes.meta.count }} epizod</text>
          {{#if show.attributes.active}}
          <text>Aktivní</text>
          {{/if}}
          {{#if show.attributes.podcast}}
          <text>Podcast</text>
          {{/if}}
        </row>
      </header>
      <section>
        {{#each episodes}}
        <listItemLockup id="{{ id }}" data-href-page="now-playing" data-href-page-options="{{toJSON this }}">
          <ordinal minLength="1">{{{watchedState watched }}}</ordinal>
          <title>{{ attributes.title }}</title>
          <subtitle>{{longDate attributes.since }}  {{timeLength attributes.since attributes.till }}  {{#if attributes.part}}({{attributes.part}}. díl){{/if}}</subtitle>
          <placeholder>{{removeHTML attributes.description }}</placeholder>
        </listItemLockup>
        {{/each}}
        {{#if links.next}}
        <listItemLockup data-href-page="show" data-href-page-options="{{toJSON @root.links }}">
          <title>Další...</title>
        </listItemLockup>
        {{/if}}
      </section>
    </list>
  </compilationTemplate>
</document>
