<document>
  <listTemplate>
    <banner>
      <title>Seriály</title>
    </banner>
    <list>
      <section>
        {{#each items}}
        <listItemLockup data-href-page="serial" data-href-page-options="{{toJSON this }}">
          <title>{{ attributes.title }}</title>
          <decorationLabel>{{ attributes.totalParts }}</decorationLabel>
          <relatedContent>
            <lockup>
              <img src="{{ attributes.asset.url }}" />
              <title>{{ attributes.title }}</title>
              <description>{{removeHTML attributes.description }}</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        {{/each}}
        {{#if links.next}}
        <listItemLockup data-href-page="serials" data-href-page-options="{{toJSON @root.links }}">
          <title>Další...</title>
        </listItemLockup>
        {{/if}}
      </section>
    </list>
  </listTemplate>
</document>
