<document>
  <stackTemplate>
    <collectionList>
      <carousel>
        <section>
        {{#each allover }}
          <lockup data-href-page="play" data-href-page-options="{{toJSON this }}">
            {{#if image}}
            <img src="{{ image }}" class="darkImage" style="width:768; height:432;" />
            {{else}}
            <img src="" class="darkImage" style="width:768; height:432;" />
            {{/if}}
            <title>{{ stationName }}</title>
            <description class="current-show" style="font-size:27%; margin-top:10; text-align: center">{{ showTitle }}</description>
            <overlay>
              <progressBar value="{{ progress }}" style="tv-tint-color2x: black"/>
            </overlay>
          </lockup>
        {{/each}}
        </section>
      </carousel>
      <shelf>
          <header>
            <title>Regionální stanice</title>
          </header>
          <section>
            {{#each regional }}
            <lockup data-href-page="play" data-href-page-options="{{toJSON this }}">
              {{#if image}}
              <img class="tile" src="{{ image }}"/>
              {{else}}
              <img class="tile" src=""/>
              {{/if}}
              <title>{{ stationName }}</title>
              <description class="current-show" style="font-size:27%; margin-top:10; text-align: center">{{ showTitle }}</description>
              <overlay>
                <progressBar value="{{ progress }}" style="tv-tint-color2x: black"/>
              </overlay>
            </lockup>
            {{/each}}
          </section>
      </shelf>
      <shelf>
          <header>
            <title>Zahraniční stanice</title>
          </header>
          <section>
            {{#each foreign }}
            <lockup data-href-page="play" data-href-page-options="{{toJSON this }}">
              {{#if image}}
              <img class="tile" src="{{ image }}"/>
              {{else}}
              <img class="tile" src=""/>
              {{/if}}
              <title>{{ stationName }}</title>
              <description class="current-show" style="font-size:27%; margin-top:10; text-align: center">{{ showTitle }}</description>
              <overlay>
                <progressBar value="{{ progress }}" style="tv-tint-color2x: black"/>
              </overlay>
            </lockup>
            {{/each}}
          </section>
      </shelf>
    </collectionList>
  </stackTemplate>
</document>
